<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All Products</title>
</head>
<body>
	<form method="post" action="/products/AllProducts">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Price</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.id}" />
					<td th:text="${product.name}" />
					<td th:text="${product.price}" />
			</tbody>
		</table>

		<p>
			<a href="/">Back Home</a>
		</p>
	</form>
</body>
</html>